$tonicColor: #5e92f3;
$darkColor: #003c8f;
$primary:#1565c0;

$white: #fff;
$black: #111;
$rice: #FFFCF7;
$lightgrey: #E1E2E1;

$danger: #EF476F;
$warning: #FFD166;
$success: #06D6A0;

$font: 'Montserrat', sans-serif;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

$xs: 4;
$s: 8;
$m: 16;
$l: 24;
$xl: 32;
$xxl: 40;