$tonicColor: #00A5F8;
$darkColor: #ECECEC;

$white: #fff;
$black: #111;
$rice: #FFFCF7;

$--background-color-base: $darkColor !default;
$--color-text-regular: $white !default;

$font: 'Montserrat', sans-serif;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

$xs: 4;
$s: 8;
$m: 16;
$l: 24;
$xl: 32;
$xxl: 40;