@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

.material-icons {
    font-family: 'Material Icons';
    font-size: inherit;
}

body {
    font-family: $font;
}

.fs-1 {
    font-size: rem(12px);
}

.fs-2 {
    font-size: rem(14px);
}

.fs-3 {
    font-size: rem(18px);
}

$sizes: (
    "1": 12,
    "2": 14px,
    "3": 18px,
    "4": 24px,
    "5": 32px,
);

@each $name, $size in $sizes {
    .fs-#{$name} {
        font-size: $size;
    }
}