.bg-dark {
    background-color: $darkColor;
}

.bg-tonic {
    background-color: $tonicColor;
}

.flex {
    &-column {
        display: flex;
        flex-direction: column;
    }
    &-row {
        display: flex;
        flex-direction: row;
    }
}

.flex-item {
    &-right {
        margin-left: auto;
    }

    &-left {
        margin-right: auto;
    }
}

$aligns: "center", "start", "end", "space-between", "space-around";

@each $align in $aligns {
  .jc-#{$aligns} {
      justify-content: $align;
  }
}

.ai-center {
    align-items: center;
}

.container {
    margin: 0 auto;
    max-width: 990px;
}

body {
    background-color: $rice;
}