.bg-dark {
    background-color: $darkColor;
}

.bg-tonic {
    background-color: $tonicColor;
}

.flex {
    &-column {
        display: flex;
        flex-direction: column;
    }
    &-row {
        display: flex;
        flex-direction: row;
    }
    &box {
        display: flex;
    }
}

.flex-item {
    &-right {
        margin-left: auto;
    }

    &-left {
        margin-right: auto;
    }
}

$aligns: "center", "start", "end", "space-between", "space-around";

@each $align in $aligns {
  .jc-#{$aligns} {
      justify-content: $align;
  }
}

.ai-center {
    align-items: center;
}

.container {
    margin: 0 auto;
    max-width: 990px;
}

body {
}

/**
*   Vuesax
*
*/
.vs-collapse-item {
    &.open-item {
        .vs-collapse-item--header {
            border-radius: 5px 5px 0 0;
        }
        
        .vs-collapse-item--icon-header {
            transform: translate(-50%, -50%) rotate(180deg);
        }

        .ask-details {
            animation: calc((var(--animation-delay) + 1) * 250ms) ease-out forwards fadeInDown;
        }
    }
}
.vs-collapse-item--header {
    background-color: $darkColor;
    color: $white;
    border-radius: 5px;
    padding: 15px 20px;
}

.vs-collapse-item--content {
    transition: all 0.45s ease-in-out !important;
    background-color: $lightgrey;
    border-radius: 0 0 5px 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.vs-collapse-item--icon-header {
    transform: translate(-50%, -50%);
    right: 10px;
}

.con-content--item {
    padding-left: 15px;
    padding-right: 15px;
}
